/*PROPIEDADES FLEX BOX*/

%flexbox-full-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

%shadow-lg {
    filter: drop-shadow(0 0 20px rgb(44, 44, 44));
}