@import "../utilities/mixins";

/*BOTONES LATERALES en todos los SERVICIOS.HTML*/
.boton-izq i {
    left: 0;
    padding-left: 2em;
    @include boton-lateral;
    &:hover {
        transform: translateX(-2em)
    }
    @media (max-width: 575px) {
        padding-left: 0.5em;
        &:hover {
            transform: translateX(-0.5em);
        }
    }
    @media (min-width: 576px) and (max-width: 991px) {
        padding-left: 1em;
        &:hover {
            transform: translateX(-1em);
        }
    }
}

.boton-der i {
    right: 0;
    padding-right: 2em;
    @include boton-lateral;
    &:hover {
        transform: translateX(2em)
    }
    @media (max-width: 575px) {
        padding-right: 0.5em;
        &:hover {
            transform: translateX(0.5em)
        }
    }
    @media (min-width: 576px) and (max-width: 991px) {
        padding-right: 1em;
        &:hover {
            transform: translateX(1em)
        }
    }
}