/* CARROUSEL*/

.carrousel {
    display: flex;
    justify-content: center;
    background-color: black;
    div {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .img-carrousel {
                        width: 100%;
                    }
                }
            }
        }
    }
   
}