/* CARROUSEL*/
main {
.carrousel {
    display: flex;
    justify-content: center;
    background-color: black;
    div {
        div .carousel {
           div .carousel-inner {
                div .carousel-item {
                    img .img-carrousel {
                        width: 100%;
                    }
                }
            }
        }
    }
   
}
}