@import "../utilities/variables";
@import "../utilities/mixins";

/*GRACIAS.HTML - respuesta al enviar formulario de contacto*/
.mensaje {
    background-color: $bg-body-gracias;
    .mensaje-gracias {
        @include flexbox-center;/*mixin*/
        .mensaje-exito{
            text-align: center;
            margin-top: $margin-zero + 16 - 1; /*operadores de suma y resta en un mismo item*/
            background-color: $bg-mensaje-gracias;
            border-radius: $border-px100 / 4; /*operador de división*/
            padding: $padding-em1 * 2 ; /*operador de multiplicación*/
            button a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

