@import "../utilities/mixins";

/*INDEX.HTML seccion CONTACTO*/

.main-contacto{
    margin-bottom: 0;
    .main-contacto-titulo{
        p {
            @include titulos;
            text-align: right;
        }
    }
    .main-contacto-contenido {
        justify-content: space-around;
        div {
            div .main-contacto-ubicacion {
                display: flex;
                justify-content: space-around;
                align-items: center;
                @media (max-width: 576px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                div .mapa {
                    margin-left: 3em;
                    
                }
            }
        }
    }
}